<!DOCTYPE html>
<html ng-app="mainApp" lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Visionaries Explorer</title>
<link href="https://fonts.googleapis.com/css?family=Martel:300,400,600|Roboto:300,300i,400,400i,700,900" rel="stylesheet">
<link rel="stylesheet" href="reset.css">
<link rel="stylesheet" href="visionaries.css">
<style>

</style>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script> -->
<script src="angular.1.5.0.min.js"></script>
<script src="ngStorage.min.js"></script>
<script src="ng-infinite-scroll.js"></script>
<script src="angular-inview.js"></script>
<script src="visionaries_prep.js"></script>
<script src="visionaries_app.js"></script>
<script>

</script>
</head>
<body ng-controller="mainController" ng-class="{'hide':viewer, 'favespeek':favespeek}">

<!-- /////////////////
	HEADER
////////////////////// -->

	<header id="header">
	<!-- 	MENU -->
		<nav id="menu" ng-class="{'vis':menu_vis}">
			<div id="menu_toggle" ng-click="menu_vis=!menu_vis" ng-class="{'vis':menu_vis}">
				<div id="mt_a"></div>
				<div id="mt_b"></div>
			</div>
			<ul id="menu_list">
				<li class="menu_heading" ng-click="titleblock=!titleblock; menu_vis=!menu_vis">Visionaries Explorer</li>
				<li class="menu_heading" ng-click="howto=!howto; menu_vis=!menu_vis">How-To</li>
				<li class="menu_heading" ng-click="about=!about; menu_vis=!menu_vis">About</li>
			</ul>
		</nav>
		
	<!-- HISTO -->
		<ul id="histo" class="fullwidth">
			
			<li ng-repeat="year in years" ng-class="{'vis':year.ImgTotal>0, 'scroll':scrollyear==year.year, 'range':year.year>=dateRange[0] && year.year<=dateRange[1]}" ng-click="focusYear(year.year)">
				<!-- HISTO YEAR LABEL -->
				<div ng-if="year.year%25<1 || year.year==1759 || year.year==1995" class="decade"><span>{{year.year}}</span></div>
				<!-- HISTO IMAGES BAR -->
				<div class="h_bar_wrap">
					<div ng-class="{'h_bar':year.ImgTotal>0}" style="height: {{year.ImgTotal/16}}%;" data-count="{{year.ImgTotal}}"></div>
					<div ng-if="yr_match[year.year]" class="h_open" style="height: {{yr_match[year.year]/16}}%" data-count="{{yr_match[year.year]}}"></div>
				</div>
				<!-- HISTO RECORDS BAR -->
				<div class="h_hang_wrap">
					<div ng-class="{'h_bar h_hang':year.records.length>0}" style="height:{{year.records.length}}%;"></div>
				</div>
			</li>
			<li class="baseline"></li>
		</ul>
		
<!-- 	NAV -->
		<ul id="nav" class="fullwidth" ng-class="{'filtered':globalFiltered}">
			<li ng-if="dateRange.length>0" class="tally Date lt"><input type="tel" ng-model="dateRange[0]" ng-blur="checkRange()"></li>
			<li ng-if="dateRange.length>0" class="tally Date gt"><input type="tel" ng-model="dateRange[1]" ng-blur="checkRange()"></li>
			<li class="tally Records"><span class="count">{{recCount}}</span><span class="nav_label">Records</span></li>
			<li class="global_material Text btn" ng-class="{'filtered':materialFilters.Text}" ng-click="filterType('text')"><span class="count">{{globalCounts.t}}</span><span class="nav_label">Text</span></li>
			<li class="global_material Images btn" ng-class="{'filtered':materialFilters.Images}" ng-click="filterType('images')"><span class="count">{{globalCounts.i}}</span><span class="nav_label">Image</span></li>
			<li class="global_material Maps btn" ng-class="{'filtered':materialFilters.Maps}" ng-click="filterType('maps')"><span class="count">{{globalCounts.m}}</span><span class="nav_label">Map</span></li>
			<li class="global_material Objects btn" ng-class="{'filtered':materialFilters.Objects}" ng-click="filterType('objects')"><span class="count">{{globalCounts.o}}</span><span class="nav_label">Object</span></li>
			<li class="nav_search"><input placeholder="Text Search" type="text" name="search" id="search" ng-model="searchWord.text" ng-keyup="$event.keyCode == 13 ? setParams() : null" ng-blur="setParams()"></li>
		</ul>
		
<!-- 	PALETTE -->
		<ul id="globalPalette" class="fullwidth palette">
			<li ng-repeat="sw in globalPalette" ng-click="globalCol(sw)" style="background-color: rgb({{sw.r}},{{sw.g}},{{sw.b}}); width: {{sw.p*50 + 50/globalPalette.length}}%;"></li>
		</ul>
		
<!-- 	FILTERS -->
		<div id="filters">
			<span class="filters_label">Showing {{recCount}} record{{recCount>1?'s':''}} between</span>
			<div class="meta_keyword" ng-click="focusYear()">
				<span>{{dateRange[0]}} - {{dateRange[1]}}</span>
				<span class="link_icon" ng-if="dateRange[0]>1759 || dateRange[1]<1995"></span>
			</div>
			<span class="filters_label" ng-if="globalFiltered || subjectFilters.length>0 || searchWord.text.length>0">that include{{recCount<2?'s':''}}</span>
		<!-- Materials -->
			<div class="filter_group" ng-if="globalFiltered.type">
				<div class="meta_keyword type" ng-repeat="(k,v) in materialFilters" ng-if="v" ng-click="filterType(k)">
					<span>{{k}}</span>
					<span class="link_icon"></span>
				</div>
			</div>
		<!-- Subjects -->
			<span class="filters_label" ng-if="globalFiltered.tags">{{globalFiltered.type?'and':''}} the tag{{keyCount(subjectFilters)>1?'s':''}}</span>
			<div class="filter_group" ng-if="globalFiltered.tags">
				<div class="meta_keyword subject" ng-repeat="s in subjectFilters" ng-click="filterSubject(s.type,s.text)">
					<span>{{s.text}}</span>
					<span class="link_icon"></span>
				</div>
			</div>
		<!-- Search word -->
			<span class="filters_label text" ng-if="searchWord.text.length>0">{{globalFiltered.type||globalFiltered.tags?'and':''}} the {{searchWord.text.split(' ').length>1?'phrase':'word'}}</span>
			<div class="filter_group" ng-if="globalFiltered.search">
				<div class="meta_keyword" ng-click="clearSearch()">
					<span>"{{searchWord.text}}"</span>
					<span class="link_icon"></span>
				</div>
			</div>
		<!-- Colour -->
			<span class="filters_label" ng-if="globalFiltered.colour">{{globalFiltered.type||globalFiltered.tags||globalFiltered.search?'and':''}} the colour</span>
			<div class="filter_group" ng-if="globalFiltered.colour">
				<div class="meta_keyword swatch" ng-repeat="(k,v) in colourFilters" ng-click="globalCol(colourFilters[k])" style="background-color: rgb({{k}})">
					<span class="link_icon"></span>
				</div>
			</div>
			<span class="clear" ng-click="resetFilters()" ng-if="globalFiltered || subjectFilters.length>0 || searchWord.text.length>0"></span>
			<span class="clearfloat"></span>
		</div>
		
<!-- FAVES -->
		<nav id="faves" ng-click="showHero(storage.userset)"><div id="favescount" ng-if="storage.userset">{{storage.userset.length}}</div></nav>
		
	</header>
	



<!-- /////////////////
	MAIN CONTENT
////////////////////// -->

	<main id="main" infinite-scroll="showMore()" infinite-scroll-distance="2">
		
		<!-- TITLE BLOCKS -->
		
		<div ng-class="{'vis':titleblock}" class="titleblock">
			<img src="images/visionaries_explorer_logo.svg?v=1">
			<p>The State Library of NSW's Visionaries collection is comprised of over {{images.length}} digitised items representing events, characters and places of historical significance.</p>
			<p><span ng-click="howto=!howto">Click here</span> for details about using this site. <span ng-click="about=!about">Click here</span> to learn more about this project.</p>
			<span class="close" ng-click="titleblock = !titleblock"></span>
		</div>
		
		
		<div ng-class="{'vis':howto}" class="titleblock how-to">
			<h2>Visionaries</h2>
			<h3>How-To use this site</h3>
			<p>Visionaries is a collection of {{records.length}} records curated from the State Library of NSW catalogue. The {{records.length}} records contain {{images.length}} items including pages of text, artworks, photographs, maps and objects. This site allows you to explore the collection.</p>
			
			<h4>Header</h4>
			<img src="images/how-to-header.png">
			<p>Use the site header to filter the collection. Some of the ways you can filter:
				<ol>
					<li>Show records within a specific date range. eg. 1935-1950.</li>
					<li>Show records containing items of a particular type (Text, Image, Map, Object).</li>
					<li>Search for a word or phrase. eg. "federation"</li>
					<li>Combine all of these filters. eg. Show records between 1910-1950 that include Images and the word "war".</li>
				</ol>
			</p>
			
			
			<h4>Records &amp; Items</h4>
			<img src="images/how-to-record.jpg?v=1">
			<p>Inside each <i>record</i> you'll find <i>items</i> of different types: text, artworks, photographs, maps and objects. Some records have hundreds of items while others have only a few.</p>
			<p>You can filter the items within a record by type and colour. eg. Show items within the record that are Images and feature the colour <span style="background-color: #0070b1;"></span>.</p>
			<p>Click the <span style="background-image: url(images/icon_plus_black.svg)">plus</span> symbol on a tag to filter the whole collection. eg. Show all records with the keyword "cook".</p>
			<p>Click the <span style="background-image: url(images/icon_link_black.svg)">link</span> symbol on a title or tag to link through to the SLNSW catalogue. eg. View all catalogue records with the tag "Voyages and travels--18th century".</p>
			<p>Click the <span style="background-image: url(images/icon_heart.svg)">heart</span> symbol on an item to add it to your collection of favourites.</p>
			
			
			<h4>Favourites</h4>
			<p>Click the <span style="background-image: url(images/icon_heart.svg)">heart</span> symbol in the site header to view your custom collection of favourites.</p>
			<img src="images/how-to-favourites.jpg">
			<p>In the Favourites viewer you can remove items, link back to a source record, or share your set with others via email or social media.</p>
			
			
			<h4>Explore</h4>
			<p>The best way to learn more about this site and the Visionaries collection is to dig around and make your own discoveries.</p>
			
			<span class="close" ng-click="howto = !howto"></span>
		</div>
		
		<div ng-class="{'vis':about}" class="titleblock about">
			<h4>About</h4>
			<p>This site was developed by <a href="https://twitter.com/gravitron" target="_blank">Geoff Hinchcliffe</a> for the State Library of NSW DX Lab's Digital Fellowship. The project responds to the following brief:</p>
			<p><i>The Visionaries program identified items in its collections which supported the schools curriculum. These items were digitised and loaded onto the Library’s website, but their display was not easy to search and use. Visionaries did provide rich curriculum relevant digital content but to capitalise upon its strengths, a new interface is required to create a much more engaging and purposeful experience than it currently has.</i></p>
			<p>The project's novel interface combines attributes of web design, graphic design and data visualisation. The different interface elements provide a unique overview of the collection and improve opportunities for access and exploration. The project also seeks to enliven the collection - to surface some of the rich visual character of the items held within each record.</p>
			<p>Ultimately, the project aims to support purposeful and strategic intent, as well as playful and serendipitous discovery.</p>
			
			<span class="close" ng-click="about = !about"></span>
		</div>
		
		
		<!-- RECORDS -->
		
		<div ng-if="!showset" ng-repeat="year in yr_vis | limitTo:showmax" class="year" ng-class="{'empty' : year.records.length<1}">
			
		<!-- ///////////////////
				YEAR LABEL
			//////////////////// -->
			<div class="label_year">
				<h5 class="date">{{year.year}}</h5>
			</div>
			
			
		<!-- ///////////////////
				RECORD
			//////////////////// -->
			<div class="record" ng-repeat="priref in year.records track by $index" ng-class="{'vis':records_assoc['_'+priref].vis}" in-view="lineInView(year.year, $inview, $inviewInfo)">
				<div class="bg_img" ng-class="{'vis':records_assoc['_'+priref].vis}" style="background-image:url(http://digital.sl.nsw.gov.au/delivery/DeliveryManagerServlet?dps_func=stream&dps_pid={{img_assoc['_'+priref][recordbg['_'+priref].img].fl}}); background-position-y:{{recordbg['_'+priref].pos}}%"></div>
				<div class="bg_overlay"></div>
				
			<!-- RECORD LABEL (ha!) -->
				<div class="bg_img rec_label" ng-class="{'filtered':recFilters['_'+priref].materialfilter}">
					<div class="title_wrap">
						<h4 class="rec_title">
							<span>{{records_assoc['_'+priref].showtitle[0]}}</span>
							<span>{{records_assoc['_'+priref].showtitle[1]}}</span>
						</h4>
						<h6 class="rec_imgtotal">{{records_assoc['_'+priref].ImgTotal}}</h6>
					</div>
					<ul class="material">
						<li class="title" ng-click="viewRecord(priref)" style="background-image: url(images/icon_{{records_assoc['_'+priref].Type}}.svg?v=2)">
							<span>{{records_assoc['_'+priref].Title}}</span></li>
						<li class="tags" ng-click="viewRecord(priref)">
							<span>{{records_assoc['_'+priref].tags.length + records_assoc['_'+priref].keywords.length}}</span></li>
						<li class="Text" ng-class="{'vis':recFilters['_'+priref].t}" ng-click="filterRec(priref,'t',true)">
							<span>{{records_assoc['_'+priref].materials.t}}</span></li>
						<li class="Images" ng-class="{'vis':recFilters['_'+priref].i}" ng-click="filterRec(priref,'i',true)">
							<span>{{records_assoc['_'+priref].materials.i}}</span></li>
						<li class="Maps" ng-class="{'vis':recFilters['_'+priref].m}" ng-click="filterRec(priref,'m',true)">
							<span>{{records_assoc['_'+priref].materials.m}}</span></li>
						<li class="Objects" ng-class="{'vis':recFilters['_'+priref].o}" ng-click="filterRec(priref,'o',true)">
							<span>{{records_assoc['_'+priref].materials.o}}</span></li>
						<li class="toggle" ng-class="{'vis':records_assoc['_'+priref].vis}" ng-click="viewRecord(priref)"></li>
					</ul>
					<ul class="palette">
						<li ng-repeat="sw in records_assoc['_'+priref].palette" style="background-color: rgb({{sw.r}},{{sw.g}},{{sw.b}}); width: {{sw.p*50 + 50/records_assoc['_'+priref].palette.length}}%;" ng-class="{'checked':recFilters['_'+priref].c[sw.r+','+sw.g+','+sw.b]}" ng-click="globalCol(sw)"></li>
					</ul>
				</div>
			</div>
		</div>
			
		
	</main>
	
	
	
<!-- /////////////////
	RECORD VIEWER
////////////////////// -->
		
	<div id="viewer" class="record vis" ng-if="viewer">
		<div class="bg_img vis" style="background-image:url(http://digital.sl.nsw.gov.au/delivery/DeliveryManagerServlet?dps_func=stream&dps_pid={{img_assoc['_'+viewer.priref][recordbg['_'+viewer.priref].img].fl}}); background-position-y:{{recordbg['_'+viewer.priref].pos}}%"></div>
		<div class="bg_overlay"></div>
		
		<div class="v_wrap">
			
			<div class="row row1" ng-class="{'hide':viewer.fullscreen}">

			<!-- ///////////////////
					META
				//////////////////// -->
				
				<div class="record_meta vis">
					<!-- TITLE -->
					<!-- ng-click="records_assoc['_'+viewer.priref].metavis = !records_assoc['_'+viewer.priref].metavis" -->
					<div class="meta_block meta_Title">
						{{records_assoc['_'+viewer.priref].Title}} 
						<a href="http://archival.sl.nsw.gov.au/Details/archive/{{viewer.priref}}" target="_blank"><span class="link_icon external"></span></a>
						<span class="clear" ng-click="viewRecord(viewer.priref)"></span>
					</div>
					<!-- TAGS -->
					<div class="meta_block keywords" ng-class="{'vis':viewer.showkeywords}" ng-if="records_assoc['_'+viewer.priref].tags.length>0 || records_assoc['_'+viewer.priref].keywords.length>0">
						<span class="meta_keyword meta_label" ng-if="records_assoc['_'+viewer.priref].tags.length>0">Tags:</span> 
						<div class="meta_keyword" ng-repeat="w in records_assoc['_'+viewer.priref].tags track by $index">
							<span>{{w.text}}</span>
							<span class="link_icon" ng-click="filterSubject(w.type, w.text)"></span>
							<a href="http://archival.sl.nsw.gov.au/search/detail?fieldname=Field_Content{{w.type}}&database=archive&value={{w.text}}" target="_blank"><span class="link_icon external"></span></a>
						</div>
						<span class="meta_keyword meta_label" ng-if="records_assoc['_'+viewer.priref].keywords.length>0">Keywords:</span> 
						<div class="meta_keyword" ng-repeat="w in records_assoc['_'+viewer.priref].keywords track by $index">
							<span>{{w.text}}</span>
							<span class="link_icon" ng-click="filterSubject('keywords', w.text)"></span>
						</div>
						<span class="clear vis" ng-click="viewer.showkeywords=!viewer.showkeywords"></span>
					</div>
					<!-- DESCRIPTION & BIO -->
					<div class="meta_block description" ng-class="{'vis':viewer.showkeywords}" ng-if="records_assoc['_'+viewer.priref].description">Description: {{records_assoc['_'+viewer.priref].description}}</div>
					<div class="meta_block description" ng-class="{'vis':viewer.showkeywords}" ng-if="records_assoc['_'+viewer.priref].bio">Bio: {{records_assoc['_'+viewer.priref].bio}}</div>
					<p class="clearfloat"></p>
				</div>
				
				
				
				<!-- RECORD LABEL (ha!) -->
				<div class="bg_img rec_label" ng-class="{'filtered':recFilters['_'+viewer.priref].materialfilter}">
					<ul class="material">
						<li class="Type" style="background-image: url(images/icon_{{records_assoc['_'+viewer.priref].Type}}.svg?v=2)">
							<span>{{records_assoc['_'+viewer.priref].Type}}</span></li>
						<li class="notes" ng-if="records_assoc['_'+viewer.priref].description || records_assoc['_'+viewer.priref].bio" ng-click="viewer.showkeywords=!viewer.showkeywords"></li>
						<li class="tags">
							<span>{{records_assoc['_'+viewer.priref].tags.length + records_assoc['_'+viewer.priref].keywords.length}}</span></li>
						<li class="Text" ng-class="{'vis':recFilters['_'+viewer.priref].t}" ng-click="filterRec(viewer.priref,'t')">
							<span>{{records_assoc['_'+viewer.priref].materials.t}}</span></li>
						<li class="Images" ng-class="{'vis':recFilters['_'+viewer.priref].i}" ng-click="filterRec(viewer.priref,'i')">
							<span>{{records_assoc['_'+viewer.priref].materials.i}}</span></li>
						<li class="Maps" ng-class="{'vis':recFilters['_'+viewer.priref].m}" ng-click="filterRec(viewer.priref,'m')">
							<span>{{records_assoc['_'+viewer.priref].materials.m}}</span></li>
						<li class="Objects" ng-class="{'vis':recFilters['_'+viewer.priref].o}" ng-click="filterRec(viewer.priref,'o')">
							<span>{{records_assoc['_'+viewer.priref].materials.o}}</span></li>
					</ul>
					<ul class="palette">
						<li ng-repeat="sw in records_assoc['_'+viewer.priref].palette" style="background-color: rgb({{sw.r}},{{sw.g}},{{sw.b}}); width: {{sw.p*50 + 50/records_assoc['_'+viewer.priref].palette.length}}%;" ng-class="{'checked':recFilters['_'+viewer.priref].c[sw.r+','+sw.g+','+sw.b]}" ng-click="localCol(viewer.priref,sw)"></li>
					</ul>
				</div>
				
				
				
			<!-- ///////////////////
					ACTIVE FILTERS
				//////////////////// -->
				
				<div class="filters vis" ng-if="records_assoc['_'+viewer.priref].vis && recFilters['_'+viewer.priref].filtered">
					<span class="filters_label">{{img_vis['_'+viewer.priref].length}} item{{(img_vis['_'+viewer.priref].length==1) ? '' : 's'}}</span>
					
				<!-- Materials -->
					<div class="filter_group" ng-if="recFilters['_'+viewer.priref].t || recFilters['_'+viewer.priref].i || recFilters['_'+viewer.priref].m || recFilters['_'+viewer.priref].o">
						<span class="filters_label">{{(img_vis['_'+viewer.priref].length==1)?'is':'are'}}</span>
						<div class="meta_keyword type" ng-if="recFilters['_'+viewer.priref].t">
							<span>Text</span>
							<span class="link_icon"></span>
						</div>
						<div class="meta_keyword type" ng-if="recFilters['_'+viewer.priref].i">
							<span>Image</span>
							<span class="link_icon"></span>
						</div>
						<div class="meta_keyword type" ng-if="recFilters['_'+viewer.priref].m">
							<span>Map</span>
							<span class="link_icon"></span>
						</div>
						<div class="meta_keyword type" ng-if="recFilters['_'+viewer.priref].o">
							<span>Object</span>
							<span class="link_icon"></span>
						</div>
					</div>
					
				<!-- Colour -->
					<div class="filter_group" ng-if="!isEmpty(recFilters['_'+viewer.priref].c)">
						<span class="filters_label">{{(recFilters['_'+viewer.priref].t || recFilters['_'+viewer.priref].i || recFilters['_'+viewer.priref].m || recFilters['_'+viewer.priref].o) ? 'and' : ''}} feature{{(img_vis['_'+viewer.priref].length==1)?'s':''}}</span>
						<div class="meta_keyword swatch" ng-repeat="sw in recFilters['_'+viewer.priref].c" ng-click="localCol(viewer.priref,sw)" style="background-color: rgb({{sw.r}},{{sw.g}},{{sw.b}})">
							<span class="link_icon"></span>
						</div>
					</div>
					
					<span class="clear" ng-click="resetRecFilters(viewer.priref)"></span>
					
					<span class="clearfloat"></span>
					
				</div>
		
			</div>
			
			<div class="row row2">
			<!-- ///////////////////
					IMAGES
				//////////////////// -->
				<div class="album" ng-class="{'fullview':viewer.fullscreen}" infinite-scroll="morePics(viewer.priref)" infinite-scroll-distance="2">
					<div class="hero_view" ng-if="img_vis['_'+viewer.priref] && img_vis['_'+viewer.priref].length>0">
						<div id="hero_frame" class="hero_frame" ng-class="{'zoomed':viewer.zoomed}" >
							<div id="hero_img" class="hero_img" style="background-image: url({{showImg(img_vis['_'+viewer.priref][img_feat['_'+viewer.priref]].fl)}}); width: {{zoomlevel}}%; height: {{zoomlevel}}%;"></div>
						</div>
						<span class="hero_btn prev_img" ng-click="showFeature(viewer.priref, 0, -1)" ng-if="img_vis['_'+viewer.priref] && img_vis['_'+viewer.priref].length>1"></span>
						<span class="hero_btn next_img" ng-click="showFeature(viewer.priref, 0, 1)" ng-if="img_vis['_'+viewer.priref] && img_vis['_'+viewer.priref].length>1"></span>
						<span class="modal_btn fave" ng-click="addImg(viewer.priref, img_vis['_'+viewer.priref][img_feat['_'+viewer.priref]].fl)"></span>
						<span class="modal_btn fullscreen" ng-class="{'hide':viewer.fullscreen}" ng-click="viewer.fullscreen=!viewer.fullscreen"></span>
						<span class="modal_btn magnify" ng-click="zoomImg()"></span>
						<span class="modal_btn magnify_plus" ng-click="zoomImg(1)"></span>
						<span class="modal_btn magnify_minus" ng-click="zoomImg(-1)"></span>
					</div>
					<div class="thumbs_view" ng-if="img_vis['_'+viewer.priref] && img_vis['_'+viewer.priref].length>1">
						<div id="thumbs_{{viewer.priref}}" class="thumbs">
							<div ng-repeat="img in img_vis['_'+viewer.priref] | limitTo:records_assoc['_'+viewer.priref].showmax" ng-class="{'block':img.feature, 'spinner':!img.cached, 'featured':img_feat['_'+viewer.priref]===$index}" class="rec_img_wrap {{img.material.split('').join(' ')}}">
								<img class="rec_img" 
									ng-class="{'feature':img.feature, 'cached':img.cached}" 
									ng-src="{{ img.feature ? showImg(img.fl) : imgSrc(img.fl) }}" 
									imageonload="imgLoaded(viewer.priref,0,$index)" 
									alt="Album image" 
									ng-click="showFeature(viewer.priref, $index)">
								<ul class="palette"><li ng-repeat="sw in img.palette" ng-click="localCol(viewer.priref,sw)" style="background-color: rgb({{sw.r}},{{sw.g}},{{sw.b}}); width: {{sw.p*50 + 50/img.palette.length}}%;"></li></ul>
							</div>
						</div>
<!-- 						<div class="scroll_up" ng-click="thumbScroll(viewer.priref, -1)" ng-if="img_vis['_'+viewer.priref] && img_vis['_'+viewer.priref].length>1"></div> -->
<!-- 						<div class="scroll_down" ng-click="thumbScroll(viewer.priref, 1)" ng-if="img_vis['_'+viewer.priref] && img_vis['_'+viewer.priref].length>1"></div> -->
					</div>
				</div>
		
			</div>
			
		</div>
		
	</div>
	

<!-- USER SET -->
	<div id="overlay" ng-class="{'vis':show_overlay}">
		<div class="frame" style="background-image: url({{showImg(heroImg.fl)}});"></div>
		<span class="hero_btn prev_img" ng-click="showHero(heroSet,heroImg.n-1)"></span>
		<span class="hero_btn next_img" ng-click="showHero(heroSet,heroImg.n+1)"></span>
		<span class="clear" ng-click="show_overlay=!show_overlay"></span>
		<span class="remove" ng-click="addImg(heroImg.priref, heroImg.fl, true)"></span>
		<span class="rec" ng-click="viewRecord(heroImg.priref)"></span>
		<span class="share" ng-click="shareSet()" ng-if="storage.userset"></span>
		<div id="overlay_thumbs">
			<span ng-repeat="img in heroSet" ng-class="{'vis':$index==heroImg.n}"><img ng-src="{{imgSrc(img.fl)}}" alt="User set image" ng-click="showHero(heroSet,$index)"></span>
		</div>
		
		<div id="shareview" ng-class="{'vis':show_shares}">
			<div class="wrap">
				<p>Your share link: <span>{{shareurl}}</span></p>
				<p class="share_services">Share via:
					<span ng-click="shareVia('twitter')">Twitter</span>
					<span ng-click="shareVia('facebook')">Facebook</span>
					<span ng-click="shareVia('email')">Email</span>
				</p>
			</div>
			<span class="clear" ng-click="show_shares=!show_shares"></span>
		</div>
	</div>

</body>
</html>